<!-- 服务器错误 -->
<div class="container modalPublic">
    <div class="row clearfix">
        <div id="modal-server-error" class="modal fade" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button"  class="close close_modal" data-dismiss="modal" aria-label="Close"></button>
                        <h4 class="modal-title">提示</h4>
                    </div>
                    <div class="modal-body">
                        <div class="pad-t20">
                            <div class="bg_img attention" id="modalImg_3"></div>
                            <div class="modalInfo">
                                <span class="sr-only">Error:</span>
                                <span id="server-error-msg">您访问的网页不存在...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript" src="<%= staticPath %>/components/requirejs/require.js"></script>
<script type="text/javascript" src="<%= staticPath %>/scripts/common.js"></script>
